@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none !important;
  color: #ffffff !important;
}

.card {
  transition: all 0.5s;
  border: none !important;
}

.card img {
  border-radius: 30% 0 30% 0;
}

.card-title,
.card-text {
  color: #070606 !important;
}

.card:hover {
  cursor: pointer;
}

.card:hover .card-title {
  color: #ff5100 !important;
}

.section-detail img {
  border-radius: 30% 0 30% 0;
}
